.navbar {
  .main-nav {
    .nav-link {
      &.active, &:hover {
        font-weight: 600;
        color: var(--bs-emphasis-color);

        &::after {
          width: 100%;
          margin-left: 0;
        }
      }
      &::after {
        content: "";
        display: block;
        margin-left: 50%;
        width: 0;
        background-color: rgba(var(--bs-body-color-rgb), 0.5) !important;
        height: 2px;
        transition: all 0.5s;
      }
    }
  }
}
